*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3B4565;
}
.number p{
   color: #ffff;
   font-family: sans-serif;
   margin-left: 310px;
   margin-bottom: 5px;
}

.section-theme{
    display: flex;
}
.cal-theme{
    display: flex;
    margin-bottom: 1em;
    gap: 110px;
}
.theme{
    margin-left: 100px;
    text-transform: uppercase;
}

h4{
    color: #ffff;
    font-weight: 700;
    font-family: sans-serif;
}
.toggle{
        background-color: #181F33;
        padding: 0.5px 30px;
        border-radius: 1em;
        margin-bottom: 15px;
        margin-left: 10px;      
}

.toggle-btn{
    background-color: #e90c0c;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: flex-start
}

.display{
    background-color: #181F33;
    padding: 40px 195px;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
table{
    background-color: #181F33;
    border-radius: 0.5em;
    padding: 10px 10px 10px 2px;
}
button{
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    border-style: none;
}
.btn-number, .btn-operator{
    margin-top: 1em;
    margin-left: 1em;
    background-color: #E8E5DA;
    padding: 10px 30px;
}
#clear{
    margin-top: 1em;
    margin-left: 1em;
    background-color: #657296;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

.operator-num{
    margin-bottom: 1em;
}

td[colspan="2"] {
    background-color: #657296;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    border-style: none;
    font-family:sans-serif;
    padding: 10px 30px;
}

#equal{
    margin-right: 1em;
    background-color: #e90c0c;
}
.reset{
    margin-right: 2em;
}

/* Theme - 3 */
:root{
    --bg-1: hsl(268, 75%, 9%);
    --bg-2: hsl(268, 70%, 12%);
    --theme-3-text: hsl(52, 100%, 62%);
    --key-bg: hsl(268, 47%, 21%);
    --key-shadow: hsl(290, 70%, 36%);
    --del-bg: hsl(281, 89%, 26%);
    --del-shadow: hsl(285, 91%, 52%);
    --equal-bg: hsl(176, 100%, 44%);
    --equal-shadow: hsl(177, 92%, 70%);
}

.theme-3-body{
    color: var(--theme-3-text);
    background-color: var(--bg-1);
}

.theme-3-display,
.theme-3-input,
.theme-3-toggle,
.theme-3-buttons{
    background-color: var(--bg-2);
}

.theme-3-btn-number,
.theme-3-btn-operator{
    color: var(--theme-3-text);
    box-shadow: 0 5px 0 0 var(--key-shadow);
    background-color: var(--key-bg);
}

.theme-3-reset,
.theme-3-clear{
    color: #fff;
    box-shadow: 0 5px 0 0 var(--del-shadow);
    background-color: var(--del-bg);
}

.theme-3-equal{
    color: hsl(198, 20%, 13%);
    box-shadow: 0 5px 0 0 var(--equal-shadow);
    background-color: var(--equal-bg);
}